@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    font-family: "Suse", sans-serif;
    background-color: #000136;
    color: #02033a;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    width: 400px;
    margin: 20px auto;
    background-color: #ecebeb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
}

fieldset {
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label {
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    display: block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    display: inline;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #000136;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

li {
    list-style-type: none;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}
    
.github {
    background-image: url("imagens/github.png");
}

.linkedin {
    background-image: url("imagens/linkedin.png");
}
    
.twitter {
    background-image: url("imagens/twitter.png");
}